{# @var \Codeschubser\Bundle\TwigComponents\Twig\Component\Alert this #}

<div {{ attributes.defaults({class: this.defaultCssClass(), role: 'alert'}) }}>
    {%- if this.icon -%}
        <span class="flex-shrink-0 me-3 {{ this.icon }}" aria-hidden="true"></span>
    {%- endif -%}

    {# block element for flex behaviour #}
    <div>
        {%- if this.title -%}
            <h6 class="alert-heading">{{- this.title -}}</h6>
        {%- endif -%}
        <twig:block name="content">{{- this.message -}}</twig:block>
    </div>

    {%- if this.dismissible -%}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'codeschubser.action.close.label'|trans }}"></button>
    {%- endif -%}
</div>
