{# @var \Codeschubser\Bundle\BootstrapTwigComponentsBundle\Twig\Component\Alert this #}

<div {{- attributes.defaults({class: this.defaultCssClass(), role: 'alert'}) -}}>
    {%- if this.icon -%}
        <twig:Icon name="{{ this.icon }}" class="flex-shrink-1 me-2" />
    {%- endif -%}

    {# block element for flex behaviour #}
    <div class="flex-grow-1">
        {%- if this.title -%}
            <h6 class="alert-heading">{{- this.title -}}</h6>
        {%- endif -%}
        <twig:block name="content">{{- this.message -}}</twig:block>
    </div>

    {%- if this.dismissible -%}
        <twig:Button variant="close" data-bs-dismiss="alert" aria-label="{{ 'codeschubser.action.close.label'|trans }}" />
    {%- endif -%}
</div>
