{% props items = [] %}

{%- set metadata = {
    '@context': 'https://schema.org',
    '@type': 'BreadcrumbList',
    itemListElement: [],
} -%}

{%- if items|length -%}
    <nav {{ attributes }} aria-label="breadcrumb">
        <ol class="breadcrumb">
            {%- for item in items -%}
                {%- set ld_item = {
                    '@type': 'ListItem',
                    position: loop.index,
                    name: item.label|e('html_attr'),
                } -%}

                {%- if item.url is defined -%}
                    {%- set ld_item = ld_item|merge({item: item.url}) -%}
                    <li class="breadcrumb-item">
                        <a href="{{ item.url }}">{{ item.icon is defined ? '<i class="%s" aria-label="%s"></i>'|format(item.icon, item.label)|raw : item.label }}</a>
                    </li>
                {%- else -%}
                    <li class="breadcrumb-item active" aria-current="page">{{ item.label }}</li>
                {%- endif -%}

                {%- set metadata = metadata|merge({
                    itemListElement: metadata.itemListElement|merge([ld_item]),
                }) -%}
            {%- endfor -%}
        </ol>
    </nav>

    <script type="application/ld+json">{{ metadata|json_encode|raw }}</script>
{%- endif -%}
