{# @var \Codeschubser\Bundle\TwigComponents\Twig\Component\Card this #}

<div {{- attributes.defaults({class: this.defaultCssClass()}) -}}>
    {%- if this.header -%}
        {%- block header -%}<div class="card-header">{{- this.header -}}</div>{%- endblock -%}
    {%- endif -%}

    {%- if this.image -%}
        {%- block image -%}
            <img
                src="{{- this.image -}}"
                class="card-image{{- this.header ? null : ' card-img-top' -}}"
                alt="{{- this.title|default(this.subtitle)|default(this.header)|default(this.text)|default -}}"
            >
        {%- endblock -%}
    {%- endif -%}

    {%- block body -%}
        <div class="card-body">
            {%- if this.title -%}
                {%- block title -%}<h5 class="card-title">{{ this.title }}</h5>{%- endblock -%}
            {%- endif -%}

            {%- if this.subtitle -%}
                {%- block subtitle -%}<h6 class="card-subtitle mb-2">{{ this.subtitle }}</h6>{%- endblock -%}
            {%- endif -%}

            {%- if this.text -%}
                {%- block text -%}<div class="card-text">{{ this.text }}</div>{%- endblock -%}
            {%- endif -%}
        </div>
    {%- endblock -%}

    <twig:block name="content"></twig:block>

    {%- if this.footer -%}
        {%- block footer -%}<div class="card-footer">{{- this.footer -}}</div>{%- endblock -%}
    {%- endif -%}
</div>
