{# @var \Codeschubser\Bundle\BootstrapTwigComponentsBundle\Twig\Component\Dropdown this #}

<div class="dropdown{%- if this.isDropUp %} dropup{% endif -%}">
    <twig:Button variant="{{ this.variant }}" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" label="{{ this.label }}" icon="{{ this.icon }}"/>
    <ul class="dropdown-menu{%- if this.isRightAligned %} dropdown-menu-end{% endif -%}">
        {% for item in this.items() -%}
            <li>
                {%- if item.header|default(false) is same as(true) -%}
                    {# @var Codeschubser\Bundle\BootstrapTwigComponents\Twig\Component\Dropdown\DropdownHeader item #}
                    <h6 class="dropdown-header">{{ item.label }}</h6>
                {%- elseif item.divider|default(false) is same as(true) -%}
                    {# @var Codeschubser\Bundle\BootstrapTwigComponents\Twig\Component\Dropdown\DropdownDivider item #}
                    <hr class="dropdown-divider">
                {%- elseif item.text is defined -%}
                    {# @var Codeschubser\Bundle\BootstrapTwigComponents\Twig\Component\Dropdown\DropdownText item #}
                    <span class="dropdown-item-text">{{ item.text }}</span>
                {%- else -%}
                    {# @var Codeschubser\Bundle\BootstrapTwigComponents\Twig\Component\Dropdown\DropdownItem item #}
                    <a class="dropdown-item{%- if item.current %} active{% endif -%}" href="{{- item.link -}}" target="{{ item.target }}" {%- if item.current %} aria-current="true"{% endif -%}>
                        {%- if item.icon -%}
                            <twig:Icon name="{{ item.icon }}" class="me-2" />
                        {%- endif -%}
                        {{- item.label -}}
                    </a>
                {%- endif -%}
            </li>
        {% endfor -%}
    </ul>
</div>
